<?-include('./_inc/start.ejs') ?>
<div class="position-fixed start-0 end-0 vh-100 w-100 p-2 z-5 d-none" id="event-cover" style="background: rgba(0, 0, 0, 0.5);"></div>

    <!-- desktop -->
    <?-include('./order.desktop.ejs') ?>

    <div id="popupbox" class="z-5"></div>
    <div id="inputbox" class="z-5"></div>  
    

<script type="module" src="/js/order.js"></script>

<?-include('./_inc/close.ejs') ?>