<?-include('./_inc/start.ejs') ?>

    <!-- desktop -->
    <?-include('./order.desktop.ejs') ?>

    <div id="popupbox" class="z-5"></div>
    <div id="inputbox" class="z-5"></div>    

<script type="module" src="/js/order.js"></script>

<?-include('./_inc/close.ejs') ?>