<div class="position-fixed top-0 end-0 w-100 h-100 d-flex jcc aic z-5 d-none" id="clock" style="background-color: rgb(24, 24, 24);">
  <div class="clock text-white monoton-regular" style="font-size: 8rem; letter-spacing: 8px;"></div>
</div>

<?-include('./update.ejs') ?>
<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.7/dist/chart.umd.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->


<script src="/js/ebs.js" type="module"></script>
<script src="/js/update.js" type="module"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script> -->
</body>

</html>